<footer class="bg-gray-800 w-full">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8 w-full">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="flex justify-center sm:justify-start text-indigo-400">
        <div>
          <a routerLink="" class="text-xs">Generate password </a>
          |
          <a routerLink="/encrypt/bcrypt" class="text-xs">Encrypt</a>
        </div>
      </div>

      <p class="mt-4 text-center text-sm text-gray-300 lg:mt-0 lg:text-right">
        Copyright &copy; 2023
      </p>
    </div>
  </div>
</footer>
